body {
    background-image: url("http://www.countable.ca/images/howto-html5-css3.png")
}
   
#current-link {
    text-decoration: none;
}

nav a {
    color: teal;
}

.uppercase {
    text-transform: uppercase; 
    font-size: 26px; 
    color: navy;
}

img {
    width: 250px;
    height: auto;
}

h1{
    border: 1px dashed orange;
    padding-left: 20px; 
    padding-top: 20px;
    padding-bottom: 25px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 90px;
    }
.uppercase {
    text-transform: uppercase; 
    font-size: 26px; 
    color: navy;
}
